@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

*,
html,
body {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  border: none;
  font-family: Lato;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: auto;
}

main .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  line-height: 3rem;
  margin-bottom: 2rem;
}

main .header .date {
  color: gray;
}

main .image {
  width: 100%;
  height: 400px;
  margin-bottom: 1em;
}

main .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 80%;
}

main .post-content {
  margin-bottom: 1em;
}

main .post-content .content {
  font-size: 20px;
  line-height: 1.5em;
  word-wrap: break-word;
}

.comments-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.comments-input .comment-header {
  margin-bottom: 0.5em;
  font-size: 1.2em;
}

.comments-input textarea {
  width: 100%;
  background-color: rgb(240, 239, 239);
  border: 2px solid rgb(226, 225, 225);
  line-height: 1.5em;
  resize: none;
}

.comments-input .comment-button {
  padding: 10px 20px 10px 20px;
  background-color: rgb(63, 63, 63);
  color: white;
  font-size: 1.1em;
  margin-top: 10px;
  border-radius: 5px;
  align-self: flex-end;
}

.comments-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  margin: 1em 0 1em 0;
}

.comments-list .comment {
  display: grid;
  grid-template-columns: 120px 1fr;
  margin-bottom: 2em;
}

.comments-list .comment .comment-image {
  width: 80px;
  height: 80px;
}

.comment-avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
}

.comment-contet {
  display: flex;
  flex-direction: column;
  height: auto;
}

.comment-content .comment-text {
  padding: 1em;
  background-color: rgb(240, 239, 239);
  margin-bottom: 10px;
}

.related-posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.related-posts h4 {
  font-size: 1.3em;
  margin-bottom: 1em;
}

.related-posts .posts-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

.related-posts .posts-list .post-image {
  max-width: 400px;
  max-height: 200px;
}

.related-posts .posts-list .post-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.related-posts .posts-list .post {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.related-posts .posts-list .post .post-title {
  margin: 1em 0 1em 0;
}
