{% extends "base_generic.html" %} {% load static %}
<html>
  <head>
    {% block title %}
    <title>{{ post.title }}</title>
    {% endblock %} {% block styles %}
    <link rel="stylesheet" href="{% static 'styles/generic_styles.css' %}" />

    <link
      rel="stylesheet"
      href="{% static 'styles/post_detail_styles.css' %}"
    />
    {% endblock %}

    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>
  <body>
    {% block content %}
    <main>
      <div class="header">
        <h1>{{ post.title }}</h1>
        <p class="date">{{ post.author }}</p>
      </div>

      <div class="image">
        <img src="{{ post.image.url }}" alt="{{ post.title }}" />
      </div>

      <div class="post-content">
        <p class="content">{{ post.context }}</p>
      </div>

      <div class="comments-input">
        <h4 class="comment-header">What do you think?</h4>
        <textarea rows="4" cols="50" class="comment-input"></textarea>
        <button class="comment-button">Comment</button>
      </div>

      <div class="comments-list">
        {% for comment in post.comment_set.all %}
        <div class="comment">
          <div class="comment-image">
            <img
              src="{{ comment.author.avatar.url }}"
              alt="comment-avatar"
              class="comment-avatar"
            />
          </div>
          <div class="comment-content">
            <p class="comment-text">{{ comment.context }}</p>
            <p class="comment-date">{{ comment.date }}</p>
          </div>
        </div>

        {% endfor %}
      </div>

      <div class="related-posts">
        <h4 class="related-title">Similar posts</h4>
        <div class="posts-list">
          {% for similar_post in same_author_posts %}
          <div class="detail-post">
            <div class="post-image">
              <img
                src="{{ similar_post.image.url }}"
                alt="{{ similar_post.title }}"
                class="related-post-img"
              />
            </div>
            <div class="post-title">
              <p class="title">{{ similar_post.title }}</p>
            </div>
          </div>

          {% endfor %}
        </div>
      </div>
    </main>
    {% endblock %}
  </body>
</html>
