<!-- {% extends "base_generic.html" %} {% load static %} -->
<html>
  <head>
    <!-- {% block title %} -->
    <title>{{ post.title }}</title>
    <!-- {% endblock %} {% block styles %} -->
    <!-- <link rel="stylesheet" href="{% static 'styles/generic_styles.css' %}" /> -->

    <link
      rel="stylesheet"
      href="../../../catalog/static/styles/users_list_styles.css"
    />
    <!-- {% endblock %} -->

    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- {% block content %} -->
    <main>
      <div class="search-bar">
        <i class="ri-search-line"></i
        ><input
          type="text"
          placeholder="Search for users"
          class="search-input"
        />
      </div>

      <section class="users-list">
        <div class="user-profile">
          <div class="user-avatar">
            <img src="../images/post1.jpg" alt="avatar" />
          </div>
          <div class="user-info">
            <p class="user-name">Joe Biden</p>
            <p class="email">joebiden@gmail.com</p>
          </div>
        </div>

        <div class="user-profile">
          <div class="user-avatar">
            <img src="../images/post1.jpg" alt="avatar" />
          </div>
          <div class="user-info">
            <p class="user-name">Joe Biden</p>
            <p class="email">joebiden@gmail.com</p>
          </div>
        </div>

        <div class="user-profile">
          <div class="user-avatar">
            <img src="../images/post1.jpg" alt="avatar" />
          </div>
          <div class="user-info">
            <p class="user-name">Joe Biden</p>
            <p class="email">joebiden@gmail.com</p>
          </div>
        </div>

        <div class="user-profile">
          <div class="user-avatar">
            <img src="../images/post1.jpg" alt="avatar" />
          </div>
          <div class="user-info">
            <p class="user-name">Joe Biden</p>
            <p class="email">joebiden@gmail.com</p>
            <p class="bio">
              Hello, my name is Joe Biden...ello, my name is Joe Biden...ello,
              my name is Joe Biden...ello, my name is Joe Biden... ello, my name
              is Joe Biden...ello, my name is Joe Biden...ello, my name is Joe
              Biden... ello, my name is Joe Biden...ello, my name is Joe
              Biden...ello, my name is Joe Biden...
            </p>
          </div>
        </div>

        <div class="user-profile">
          <div class="user-avatar">
            <img src="../images/post1.jpg" alt="avatar" />
          </div>
          <div class="user-info">
            <p class="user-name">Joe Biden</p>
            <p class="email">joebiden@gmail.com</p>
            <p class="bio">
              Hello, my name is Joe Biden...ello, my name is Joe Biden...ello,
              my name is Joe Biden...ello, my name is Joe Biden... ello, my name
              is Joe Biden...ello, my name is Joe Biden...ello, my name is Joe
              Biden... ello, my name is Joe Biden...ello, my name is Joe
              Biden...ello, my name is Joe Biden...
            </p>
          </div>
        </div>

        <div class="user-profile">
          <div class="user-avatar">
            <img src="../images/post1.jpg" alt="avatar" />
          </div>
          <div class="user-info">
            <p class="user-name">Joe Biden</p>
            <p class="email">joebiden@gmail.com</p>
            <p class="bio">
              Hello, my name is Joe Biden...ello, my name is Joe Biden...ello,
              my name is Joe Biden...ello, my name is Joe Biden... ello, my name
              is Joe Biden...ello, my name is Joe Biden...ello, my name is Joe
              Biden... ello, my name is Joe Biden...ello, my name is Joe
              Biden...ello, my name is Joe Biden...
            </p>
          </div>
        </div>

        <div class="user-profile">
          <div class="user-avatar">
            <img src="../images/post1.jpg" alt="avatar" />
          </div>
          <div class="user-info">
            <p class="user-name">Joe Biden</p>
            <p class="email">joebiden@gmail.com</p>
            <p class="bio">
              Hello, my name is Joe Biden...ello, my name is Joe Biden...ello,
              my name is Joe Biden...ello, my name is Joe Biden... ello, my name
              is Joe Biden...ello, my name is Joe Biden...ello, my name is Joe
              Biden... ello, my name is Joe Biden...ello, my name is Joe
              Biden...ello, my name is Joe Biden...
            </p>
          </div>
        </div>

        <div class="user-profile">
          <div class="user-avatar">
            <img src="../images/post1.jpg" alt="avatar" />
          </div>
          <div class="user-info">
            <p class="user-name">Joe Biden</p>
            <p class="email">joebiden@gmail.com</p>
            <p class="bio">
              Hello, my name is Joe Biden...ello, my name is Joe Biden...ello,
              my name is Joe Biden...ello, my name is Joe Biden... ello, my name
              is Joe Biden...ello, my name is Joe Biden...ello, my name is Joe
              Biden... ello, my name is Joe Biden...ello, my name is Joe
              Biden...ello, my name is Joe Biden...
            </p>
          </div>
        </div>

        <div class="user-profile">
          <div class="user-avatar">
            <img src="../images/post1.jpg" alt="avatar" />
          </div>
          <div class="user-info">
            <p class="user-name">Joe Biden</p>
            <p class="email">joebiden@gmail.com</p>
            <p class="bio">
              Hello, my name is Joe Biden...ello, my name is Joe Biden...ello,
              my name is Joe Biden...ello, my name is Joe Biden... ello, my name
              is Joe Biden...ello, my name is Joe Biden...ello, my name is Joe
              Biden... ello, my name is Joe Biden...ello, my name is Joe
              Biden...ello, my name is Joe Biden...
            </p>
          </div>
        </div>

        <div class="user-profile">
          <div class="user-avatar">
            <img src="../images/post1.jpg" alt="avatar" />
          </div>
          <div class="user-info">
            <p class="user-name">Joe Biden</p>
            <p class="email">joebiden@gmail.com</p>
            <p class="bio">
              Hello, my name is Joe Biden...ello, my name is Joe Biden...ello,
              my name is Joe Biden...ello, my name is Joe Biden... ello, my name
              is Joe Biden...ello, my name is Joe Biden...ello, my name is Joe
              Biden... ello, my name is Joe Biden...ello, my name is Joe
              Biden...ello, my name is Joe Biden...
            </p>
          </div>
        </div>

        <div class="user-profile">
          <div class="user-avatar">
            <img src="../images/post1.jpg" alt="avatar" />
          </div>
          <div class="user-info">
            <p class="user-name">Joe Biden</p>
            <p class="email">joebiden@gmail.com</p>
            <p class="bio">
              Hello, my name is Joe Biden...ello, my name is Joe Biden...ello,
              my name is Joe Biden...ello, my name is Joe Biden... ello, my name
              is Joe Biden...ello, my name is Joe Biden...ello, my name is Joe
              Biden... ello, my name is Joe Biden...ello, my name is Joe
              Biden...ello, my name is Joe Biden...
            </p>
          </div>
        </div>
        <a href="">
          <div class="user-profile">
            <div class="user-avatar">
              <img src="../images/post1.jpg" alt="avatar" />
            </div>
            <div class="user-info">
              <p class="user-name">Joe Biden</p>
              <p class="email">joebiden@gmail.com</p>
              <p class="bio">
                Hello, my name is Joe Biden...ello, my name is Joe Biden...ello,
                my name is Joe Biden...ello, my name is Joe Biden... ello, my
                name is Joe Biden...ello, my name is Joe Biden...ello, my name
                is Joe Biden... ello, my name is Joe Biden...ello, my name is
                Joe Biden...ello, my name is Joe Biden...
              </p>
            </div>
          </div>
        </a>
        <a href="">
          <div class="user-profile">
            <div class="user-avatar">
              <img src="../images/post1.jpg" alt="avatar" />
            </div>
            <div class="user-info">
              <p class="user-name">Joe Biden</p>
              <p class="email">joebiden@gmail.com</p>
              <p class="bio">
                Hello, my name is Joe Biden...ello, my name is Joe Biden...ello,
                my name is Joe Biden...ello, my name is Joe Biden... ello, my
                name is Joe Biden...ello, my name is Joe Biden...ello, my name
                is Joe Biden... ello, my name is Joe Biden...ello, my name is
                Joe Biden...ello, my name is Joe Biden...
              </p>
            </div>
          </div>
        </a>
        <div class="user-profile">
          <div class="user-avatar">
            <img src="../images/post1.jpg" alt="avatar" />
          </div>
          <div class="user-info">
            <p class="user-name">Joe Biden</p>
            <p class="email">joebiden@gmail.com</p>
            <p class="bio">
              Hello, my name is Joe Biden...ello, my name is Joe Biden...ello,
              my name is Joe Biden...ello, my name is Joe Biden... ello, my name
              is Joe Biden...ello, my name is Joe Biden...ello, my name is Joe
              Biden... ello, my name is Joe Biden...ello, my name is Joe
              Biden...ello, my name is Joe Biden...
            </p>
          </div>
        </div>
      </section>
    </main>
    <!-- {% endblock %} -->
  </body>
</html>
